div{
    display:inline;
    display: flex;
    justify-content:center;
    }
    #container{
    position:relative;
    top:250px;
    border: solid 1px;
    margin-right: 500px;
    margin-left:500px;
    border-radius: 10px; 
}
.element{margin: 20px;padding: 10px;}
#val{font-size: 30px;}
button{border-radius: 40px;width:50px;}